@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInAnimation1 {
  animation: fadeIn 7s ease forwards;
}
.fadeInAnimation2 {
  animation: fadeIn 12s ease forwards;
}
.fadeInAnimation3 {
  animation: fadeIn 3s ease forwards;
}
.fadeInAnimation4 {
  animation: fadeIn 3s ease forwards;
}

.fadeInAnimation5 {
  animation: fadeIn 9s ease forwards;
}
.fadeInAnimation6 {
  animation: fadeIn 7s ease forwards;
}
