.wrapper {
  opacity: 0;
  transition: opacity 5s ease-in-out;
  will-change: opacity;
}

.transition {
  animation: slideFromRight 6s forwards;
}

.transition1 {
  animation: slideFromRight 5s 0.5s forwards;
}


@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
